.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    color: white;
}

.header__logo {
    margin-left: 48px;
}



.header__menuItems {
    margin-left: 48px;
    margin-right: 48px;
}

.header__menuItems a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
}

.header__menuItems a:hover {
    color: red;
}